{% extends 'learning_logs/base.html' %}

{% block page_title %}Edit Entry{% endblock %}

{% block content %}

    <div class="container m-2">
        <a href="{% url 'topic' topic.id %}" class="btn btn-dark">Back</a>
    </div>

    <div class="container display-6 m-0 mt-2">
        <p>
            Edit Entry: {{ topic }}
        </p>
    </div>

    <div class="container">
        <form action="{% url 'edit_entry' entry.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit" class="btn btn-outline-dark">Save changes</button>
        </form>
    </div>

{% endblock %}