{% extends 'learning_logs/base.html' %}

{% block content %}

    <div class="container bg-warning p-5 mt-3 my-5 display-1 fw-bold text-center rounded">
       Track Your Learning.
    </div>

    <div class="container h6 display-6 border-top pt-4 border-2">
        <p>
            <a href="{% url 'register' %}" class="text-decoration-none">Register an account</a> to make your own Learning Log, and list the topics you're learning about.
        </p>
    </div>

    <div class="container h6 display-6">
        <p>Whenever your learn something new about a topic, make an entry summarizing what you've learned.</p>
    </div>

{% endblock %}