{% extends 'learning_logs/base.html' %}

{% block content %}
    <p>
        Topic: {{ topic }}
    </p>

    <p>
        Entries:

        <ul>
            {% for entry in entries %}
            <li>
                <div>
                    {{ entry.date_added | date:"Y-d-M H:i" }}
                </div>

                <div>
                    {{ entry.text | linebreaks }}
                </div>
            </li>
            {% empty %}
                <li>
                    No Entries added yet.
                </li>
            {% endfor %}
        </ul>
    </p>

{% endblock %}