{% extends 'learning_logs/base.html' %}

{% block page_title %} Topics {% endblock %}

{% block content %}

    <div class="container display-6">
        TOPICS
    </div>

    <div class="container d-flex">
        
        {% for topic in topics %}
            <div class="m-2">
                <a href="{% url 'topic' topic.id %}" class="btn btn-primary">{{ topic }}</a>
            </div>
        {% empty %}

            <div class="container w-50 text-bg-light">
                No topics available yet.
            </div>
            
        {% endfor %}
    </div>

    <div class="container mt-3">
        <a href="{% url 'new_topic' %}" class="btn bg-dark text-light mr-0 mt-3">Add New Topic</a>
    </div>

{% endblock %}