{% extends 'learning_logs/base.html' %}

{% block content %}
    <div>
        <p>
            Topic: {{ topic }}
        </p>
    </div>

    <div>
        <a href="{% url 'new_entry' topic.id %}">Add New Entry</a>
    </div>

    <div>
        <p>
        Entries:

            <ul>
                {% for entry in entries %}
                <li>
                    <div>
                        {{ entry.date_added | date:"Y-d-M H:i" }}
                    </div>

                    <div>
                        {{ entry.text | linebreaks }}
                    </div>

                    <div>
                        <a href="{% url 'edit_entry' entry.id %}">Edit Entry</a>
                    </div>
                </li>
                {% empty %}
                <li>
                    No Entries added yet.
                </li>
                {% endfor %}
            </ul>
        </p>
    </div>

{% endblock %}