{% extends 'learning_logs/base.html' %}

{% block content %}

    <div class="container display-6">
        TOPICS
    </div>

    <div>
        
        {% for topic in topics %}
            <div class="m-2">
                <a href="{% url 'topic' topic.id %}" class="btn btn-outline-primary">{{ topic }}</a>
            </div>
        {% empty %}

            <div>
                No topics available yet.
            </div>
            
        {% endfor %}
    </div>

    <div>
        <a href="{% url 'new_topic' %}" class="btn bg-dark text-light m-2">Add New Topic</a>
    </div>

{% endblock %}