{% extends 'learning_logs/base.html' %}

{% block page_title %} Log in {% endblock %}

{% block content %}

    <div class="container w-50 mx-auto mt-4">
        <p class="display-5">
            LOG IN TO ACCOUNT: 
        </p>
    </div>

    <div class="container w-50 mx-auto pt-2 mt-4 bg-dark rounded text-light">
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            {% for field in form %}

                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                    <p>
                        {% for error in field.errors %}

                            {{error}}

                        {% endfor %}
                    </p>
                {% endif %}

            {% endfor %}
           
            <button type="submit" class="btn btn-warning btn-md mb-3">Log in</button>
        </form>
    </div>

{% endblock %}