{% extends 'learning_logs/base.html' %}

{% block content %}

    <div class="container mt-4 m-2">
        <p class="display-5">
            LOG IN TO ACCOUNT: 
        </p>
    </div>

    <div class="container pt-2 m-4 bg-dark rounded text-light">
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
           
            <button type="submit" class="btn btn-warning btn-md mb-3">Log in</button>
        </form>
    </div>

{% endblock %}